body {
  font-family: 'Pacifico', cursive;
  background-color: #131313;
  color: white;
  height: 100%;
  margin-top: 0;
}

.main {
  padding: 1em;
  padding-top: .5em;
  position: relative;
}

.dateCircle, .orCircle {
  background-color: #232323;
  border-radius: 50%;
  overflow: hidden;
  width: 20em;
  height: 20em;
  margin-top: 10em;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  line-height: 20em;
  transition: background-color 0.3s ease;
}

h1, h3, .dateExpanded {
  user-select: none;
}

.date, p {
  margin: 0;
  font-size: 2em;
  user-select: none;
}

.date:hover, .dateExpanded:hover {
    cursor: pointer;
}

.dateExpanded {
  margin-top: -8em;
  line-height: 1.5em;
}

h1 {
  margin: 0;
}

h3 {
  display: inline;
}

p {
  margin-top: -.1em;
}

#dateText {
  color: red;
  margin-bottom: 1em;
  margin-left: .3em;
}

#monthsExpanded, #weeksExpanded, #daysExpanded {
  display: none;
}

#leftOrCircle, #rightOrCircle {
  background-color: #341515;
  line-height: 5em;
  margin-top: 18em;
  width: 5em;
  height: 5em;
  left: calc(35% - 2.5em);
}

#rightOrCircle {
  left: calc(65% - 2.5em)
}

#monthsCircle {
  left: calc(20% - 10em);
}

#monthsCircle:hover {
  background-color: #352555;
}

#weeksCircle {
  left: calc(50% - 10em);
}

#weeksCircle:hover {
  background-color: #154565;
}

#daysCircle {
  left: calc(80% - 10em)
}

#daysCircle:hover {
  background-color: #255535;
}
